    <!-- CONTACT -->
    <footer class="contact">
      <div class="contact-info container">
        <p class="contact-title">Let's make your dream item</p>
        <div class="social-icons">
          <i class="fab fa-facebook-f fa-2x"></i>
          <i class="fab fa-instagram fa-2x"></i>
          <i class="fas fa-at fa-2x"></i>
        </div>
      </div>
    </footer>

  <!-- Custom JS -->
  <script src="/js/app.js"></script>
</body>
</html>