  <!-- include header -->
  <%- include('_header') %>

    <!-- Fancybox -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

    <!-- NAVIGATION -->
    <div class="menu-btn">
      <i class="fas fa-bars fa-2x"></i>
    </div>
    <div class="nav-wrapper">
      <nav class="main-nav container">
        <img class="logo" src="/images/mini-logo.png" />
        <ul class="main-menu">
          <li class="nav-link"><a href="#">Home</a></li>
          <li class="nav-link"><a href="#about">About</a></li>
          <li class="nav-link"><a href="#gallery">Gallery</a></li>
          <li class="nav-link"><a href="#">Blog</a></li>
          <li class="nav-link"><a href="#">Store</a></li>
        </ul>
      </nav>
    </div>

    <!-- HERO -->
    <section class="hero">
      <img class="hero-logo" src="/images/VAV-Customs-Logo.png">
    </section>

    <!-- ABOUT -->
    <section class="about-me" id="about">
      <div class="about-me_content container">
        <div class="image-stack">
          <div class="image-stack__item image-stack__item-top">
            <img src="/images/about-me2.jpg" alt="Me on a boat" />
          </div>
          <div class="image-stack__item image-stack__item-bottom">
            <img class="about-me_img" src="/images/about-me.jpg" alt="Working on woodwork" />
          </div>
        </div>
        <div class="about-me_info">
          <h2 class="about-me_title">Hey, I'm Vince</h2>
          <p>"Alyssa Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </section>

    <!-- GALLERY -->
    <section class="gallery" id="gallery">
      <div class="social-media container">
        <div class="social-media_icons">
          <i class="fab fa-facebook-f fa-5x"></i>
          <i class="fab fa-instagram fa-5x"></i>
        </div>
        <div class="social-media_text">
          <p>Follow me on social media to see my latest work!</p>
        </div>
      </div>
      <div class="gallery-masonry container">
        <% files.forEach(element => { %>
          <a data-fancybox href="/grid-images/<%= element%>">
           <img class='item' src="/grid-images/<%= element%> ">
          </a>
        <% }) %>
      </div>
    </section>

    <!-- BLOG -->
    <section class="blog">
      <div class="blog-content container">
        <div class="blog-content_text">
          <p class="blog-content_text-main">Interested in reading more?</p>
          <p>Check out my blog!</p>
        </div>
        <a class="btn" href="#">See Blog Posts</a>
      </div>
    </section>

<!-- include footerr -->
<%- include('_footer') %>
